#hands-wrapper {
  border-bottom: 3px solid var(--info);
}

#hands {
  display: flex;
  align-items: center;
  height: 100%;
}

.hand {
  padding: 0 1em;
  flex: 1;
  display: flex;
  align-items: center;
  text-align: left;
  font-weight: bold;
  &::before {
    content: "";
    display: inline-block;
    height: var(--icon-size, 1em);
    width: var(--icon-size, 1em);
    -webkit-mask: url(../app/svg/hand.svg) no-repeat 50% 50%;
    -webkit-mask-size: cover;
    margin-right: 1em;
    background-color: var(--text-color);
  }
}

.hand#spell {
  &::before {
    -webkit-mask: url(../app/svg/magic.svg) no-repeat 50%
      50%;
  }
}
