ins {
  text-decoration: none;
}

/**
 * skinnables via :hilite group 
 */
.macro {
  background: purple;
}

.exist {
  color: #a0a0a0;
}

.external-link {
  color: #82b3ae;
}

.thoughts {
  color: #fff;
}

.speech {
  color: limegreen;
}

.whisper {
  color: #4f8b89;
}

.clickable .d {
  border-bottom: 2px solid #db238e;
}

.clickable .d:hover {
  cursor: pointer;
  border-color: #6f23db;
}

.b,
.monster {
  color: #c4d428;
}
