body {
  background-color: var(--main-bg-color);
  color: var(--text-color);
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--info);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

#feed-wrapper {
  overflow: hidden;
}

#app {
  display: grid;
  height: 100vh;
  grid-template-columns: 6em var(--column-width) 1fr 0;
  overflow: hidden;
}
#app.right-panels-on {
  grid-template-columns: 6em var(--column-width) 1fr var(
      --column-width
    );
}

#sessions {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
#panels-left {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
#panels-right {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}
#main {
  grid-column: 3 / 4;
  grid-row: 1 / 2;

  display: grid;
  grid-auto-rows: 3em 0 1fr 4em;
  max-height: 100vh;
}
#app.streams-on #main {
  grid-auto-rows: 3em var(--stream-height) 1fr 4em;
}
