.panels {
}

#panels-left {
  border-right: 3px solid var(--info);
}

.panel {
  font-size: 14px;
  position: relative;
  padding: 4px;
  margin: 10px;
  overflow: hidden;
  resize: vertical;
  summary {
    margin: 0;
    padding: 0.5em;
    text-transform: uppercase;
    text-align: center;
    background-color: var(--info);
    font-weight: bold;
    &:focus {
      /* TODO: Strategy for focus styles */
      outline: 0;
    }
  }
  li {
    padding: 0.4em 0 0.2em;
    position: relative;
  }
  .bar {
    height: 2px;
  }
  .value {
    position: relative;
    display: flex;
    span {
      display: inline-block;
      &:nth-child(1) {
        text-transform: capitalize;
        flex: 1;
        margin-right: auto;
      }
      &:nth-child(2) {
        font-weight: bold;
      }
      &:nth-child(3) {
        opacity: 0.5;
        &::before {
          content: "/";
        }
      }
    }
    &.center {
      text-align: center;
      span {
        margin: 0;
      }
      .center {
        text-align: center;
        margin-right: 0;
      }
    }
  }
}

.bar.high {
  background: var(--ok);
}

.bar.medium {
  background: var(--warn);
}

.bar.low {
  background: var(--danger);
}

#vitals-encumlevel,
#vitals-mindState {
  .max {
    display: none;
  }
}
