.scroll {
  overflow-y: scroll;
  overflow-x: hidden;
}

.scroll > *,
.feed {
  white-space: pre-wrap;
  line-height: 1.4;
  font-size: 16px;
  word-break: break-word;
}

.severity-1 {
  color: var(--gentle-warn);
}
.severity-2 {
  color: var(--warn);
}
.severity-3 {
  color: var(--danger);
}
