/* https://paletton.com/#uid=75u0u0kmcf4eunphzibqDaMvZ6s */
:root { 
  --main-bg-color: #1a1a1d;
  --danger: #6F2232;
  --ok: #396820;
  --info: #184F3F;
  --warn: #784225;
  --text-color: #f1f1f1;
  --icon-size: 1em;
  --base-padding: 3em;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

ol, ul, h1, h2, h3, h4, h5, h6, body, html {
  margin: 0;
  padding: 0;
  font-size: 1em;
}

ol, ul {
  list-style-type: none;
}

body {
  font-size: 15px;
  margin: 0;
  font-family: Arial;
  background-color: var(--main-bg-color);
  color: var(--text-color);
}

#app {
  display: grid;
  height: 100vh;
  grid-template-columns: 8em 16em 1fr;
  overflow: hidden;
}

#main {
  display: grid;
  grid-auto-rows: 3em 1fr 4em;
  max-height: 100vh;
}

#hud {
  border-right: 3px solid var(--info);
}

#sessions {
  background: var(--info);
  padding: var(--base-padding) 0;
}

#sessions ol {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#sessions li {
  padding: 1em;
  margin: 0;
  text-align: right;
  font-weight: bold;
  border-right: 4px solid var(--info);
}

#sessions li:hover {
  cursor: pointer;
  border-right: 4px solid var(--main-bg-color);
}

#sessions li.on {
  background-color: var(--main-bg-color);
  border-right: 4px solid var(--main-bg-color);
}

#hands {
  display: flex;
  align-items: center;
  height: 100%;
}

.hand {
  padding: 0 1em;
  flex: 1;
  text-align: left;
  font-weight: bold;
}

.hand:before {
  content: "";
  display: inline-block;
  height: var(--icon-size);
  width: var(--icon-size);
  -webkit-mask: url(../svg/hand.svg) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  margin-right: 1em;
}

.hand:before {
  background-color: var(--text-color)
}

.scroll {
  overflow-y: scroll;
}

.scroll::-webkit-scrollbar {
  width: 6px;
}

.scroll::-webkit-scrollbar-track {
  width: 4px;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: var(--info);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

#feed-wrapper {
  overflow: hidden;
}

.feed {
  padding: 0 1em 1em 1em;
  height: 100%;
}
.feed pre {
  white-space: pre-wrap;
  margin: 0;
  line-height: 1.4em;
  font-size: 16px;
}

#cli-wrapper {
  background-color: var(--info);
  padding: 0.5em 1em;
  display: grid;
  grid-template-columns: 3em 1fr;
  align-items: center
}

#cli-wrapper .prompt {
  display: inline-block;
  text-align: right;
  padding-right: 0.3em;
  font-size: 1.6em;
}

#cnc {
  position: relative;
}

#cnc input {
  position: absolute;
  left: 0;
  top: 50%;
  height: 1.4em;
  margin-top: -0.7em;
  border: none;
  width: 100%;
  padding: 0.3em;
  color: #fff;
  font-size: 1.2em;
}

#cnc input:focus {
  outline: none;
}

#cnc input#cli {
  background-color: transparent;
  z-index: 1;
}

#cnc input#cli-suggestions {
  background-color: rgba(0,0,0,0.2);
}

.panel {
  font-size: 14px;
  font-weight: bold;
  border-bottom: 2px solid var(--info);
}

.panel h3 {
  margin: 0;
  padding: 0.5em;
  text-transform: uppercase;
  text-align: center;
  background-color: var(--info);
}

.panel h3:hover {
  cursor: pointer;
}

.panel h3:after {
  content: "+";
  transform: rotate(45deg);
  display: inline-block;
  margin-right: 0.5em;
  float: right;
}

.panel ol {
  max-height: 300px;
}

.panel li {
  padding: 0.5em;
  position: relative;
}

.panel .bar {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
}

.panel .value {
  position: relative;
  text-align: right;
  display: flex;
}

.panel .value.center {
  text-align: center;
}

.panel .value span {
  display: inline-block;
}

.panel .value span:first-child {
  margin-right: 1em;
  flex: 1;
}

.panel .value span:nth-child(2) {
  min-width: 3em;
  text-align: left;
}

.bar.high {
  background: var(--ok);
}

.bar.medium {
  background: var(--warn);
}

.bar.low {
  background: var(--danger);
}

ins {
  text-decoration: none;
}

/**
 * skinnables via :hilite group 
 */
.monster {
  color: #ccff00;
}

.macro {
  background: purple;
}

.exist {
  color: #1ad1bd;
}

.thoughts {
  background-color: #8A2BE2;
  color: #fff
}

.speech {
  color: limegreen;
}

.d {
  border-bottom: 2px solid fuchsia;
}
