/* https://paletton.com/#uid=75u0u0kmcf4eunphzibqDaMvZ6s */
:root {
  --main-bg-color: #1a1a1d;
  --ok: #396820;
  --info: #184f3f;
  --gentle-warn: rgb(122, 96, 28);
  --warn: #784225;
  --danger: #6f2232;
  --text-color: #f1f1f1;
  --icon-size: 1em;
  --base-padding: 3em;
  --streams-height: 12em;
}

@font-face {
  font-family: "MonoLisa";
  font-weight: 400;
  src: url("../fonts/MonoLisa-Regular.woff") format("woff2"),
    url("../fonts/MonoLisa-Regular.woff") format("woff");
}
@font-face {
  font-family: "MonoLisa";
  font-weight: 700;
  src: url("../fonts/MonoLisa-Bold.woff") format("woff2"),
    url("../fonts/MonoLisa-Bold.woff") format("woff");
}
@font-face {
  font-family: "MonoLisa";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/MonoLisa-RegularItalic.woff2")
      format("woff2"),
    url("../fonts/MonoLisa-RegularItalic.woff")
      format("woff");
}
@font-face {
  font-family: "MonoLisa";
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/MonoLisa-BoldItalic.woff")
      format("woff2"),
    url("../fonts/MonoLisa-BoldItalic.woff") format("woff");
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
body,
html {
  margin: 0;
  padding: 0;
  font-size: 1em;
}

ol,
ul {
  list-style-type: none;
}

body {
  font-size: 15px;
  margin: 0;
  font-family: system-ui, sans-serif;
  background-color: var(--main-bg-color);
  color: var(--text-color);
}

#app {
  display: grid;
  height: 100vh;
  grid-template-columns: 8em 16em 1fr;
  overflow: hidden;
}

#main {
  display: grid;
  grid-auto-rows: 3em 0em 1fr 4em;
  max-height: 100vh;
}

#app.streams-on #main {
  grid-auto-rows: 3em var(--streams-height) 1fr 4em;
}

#hud {
  border-right: 3px solid var(--info);
}

#app.streams-on .streams {
  border-bottom: 3px solid var(--info);
}

.streams {
  height: 100%;
}

.streams {
  padding: 0 1em 1em 1em;
}

.streams pre {
  margin: 0.2em 0;
}

#sessions {
  background: var(--info);
  padding: var(--base-padding) 0;
}

#sessions ol {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#sessions li {
  padding: 1em 1em 1em 0.5em;
  margin: 0;
  text-align: right;
  font-weight: bold;
  border-right: 4px solid var(--info);
}

#sessions .alt-numeric {
  float: left;
}

#sessions li:hover {
  cursor: pointer;
  border-right: 4px solid var(--main-bg-color);
}

#sessions li.on {
  background-color: var(--main-bg-color);
  border-right: 4px solid var(--main-bg-color);
}

#hands {
  display: flex;
  align-items: center;
  height: 100%;
}

.hand {
  padding: 0 1em;
  flex: 1;
  text-align: left;
  font-weight: bold;
}

.hand:before {
  content: "";
  display: inline-block;
  height: var(--icon-size);
  width: var(--icon-size);
  -webkit-mask: url(../svg/hand.svg) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  margin-right: 1em;
}

.hand:before {
  background-color: var(--text-color);
}

.scroll {
  overflow-y: scroll;
}

.scroll pre {
  white-space: pre-wrap;
}

.scroll::-webkit-scrollbar {
  width: 6px;
}

.scroll::-webkit-scrollbar-track {
  width: 4px;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: var(--info);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

#feed-wrapper {
  overflow: hidden;
}

.feed {
  padding: 0 1em 1em 1em;
  height: 100%;
}
.feed pre {
  font-family: "MonoLisa", system-ui, sans-serif;
  white-space: pre-wrap;
  margin: 0;
  line-height: 1.4em;
  font-size: 16px;
}

#cli-wrapper {
  background-color: var(--info);
  padding: 0.5em 1em;
  display: grid;
  grid-template-columns: 3em 1fr;
  align-items: center;
}

#cli-wrapper .prompt {
  display: inline-block;
  text-align: right;
  padding-right: 0.3em;
  font-size: 1.6em;
}

#cnc {
  position: relative;
}

#cnc input {
  position: absolute;
  left: 0;
  top: 50%;
  height: 1.4em;
  margin-top: -0.7em;
  border: none;
  width: 100%;
  padding: 0.3em;
  color: #fff;
  font-size: 1.2em;
}

#cnc input:focus {
  outline: none;
}

#cnc input#cli {
  background-color: transparent;
  z-index: 1;
}

#cnc input#cli-suggestions {
  background-color: rgba(0, 0, 0, 0.2);
}

.panel {
  font-size: 14px;
  font-weight: bold;
  position: relative;
  padding: 4px;
  margin: 0 0 20px 0;
  margin: 10px;
}

.panel summary {
  margin: 0;
  padding: 0.5em;
  text-transform: uppercase;
  text-align: center;
  background-color: var(--info);
}

.panel ol {
  max-height: 300px;
}

.panel li {
  padding: 0.5em;
  position: relative;
}

.panel .bar {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
}

.panel .value {
  position: relative;
  text-align: right;
  display: flex;
}

.panel .value span {
  display: inline-block;
}

.panel .value span:first-child {
  margin-right: 1em;
  flex: 1;
}

.panel .value.center {
  text-align: center;
}

.panel .value.center span {
  margin: 0;
}

.panel .value span:nth-child(2) {
  min-width: 3em;
  text-align: left;
}

.panel .value .center {
  text-align: center;
  margin-right: 0;
}

.bar.high {
  background: var(--ok);
}

.bar.medium {
  background: var(--warn);
}

.bar.low {
  background: var(--danger);
}

ins {
  text-decoration: none;
}

/**
 * skinnables via :hilite group 
 */
.macro {
  background: purple;
}

a[class="exist"] {
  color: #a0a0a0;
}

a.external-link {
  color: #82b3ae;
}

.thoughts {
  color: #fff;
}

.speech {
  color: limegreen;
}

.whisper {
  color: #4f8b89;
}

.clickable .d {
  border-bottom: 2px solid #db238e;
}

.clickable .d:hover {
  cursor: pointer;
  border-color: #6f23db;
}

.b,
.monster {
  color: #c4d428;
}

#compass ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  align-content: center;
  text-align: center;
  width: 90px;
  height: 150px;
  margin: 0 auto;
}

#compass li {
  color: var(--main-bg-color);
  height: 30px;
  width: 30px;
  padding: 0;
  line-height: 30px;
}

#compass li.on {
  background: yellowgreen;
}

#compass li:empty {
  visibility: hidden;
}

#compass li.off {
  background: yellowgreen;
  opacity: 0.2;
}

.severity-1 {
  background-color: var(--gentle-warn);
}

.severity-2 {
  background-color: var(--warn);
}

.severity-3 {
  background-color: var(--danger);
}
