$boxes: "box", "chest", "coffer", "strongbox", "trunk";
$directions: "north", "south", "east", "west", "northwest",
  "northeast", "southwest", "southeast", "up", "down", "out";
$gems: "mithril-bloom", "faenor-bloom", "rhimar-bloom",
  "ora-bloom", "vultite-bloom", "thunderstone", "doomstone",
  "riftshard", "geode", "rosepar", "firestone", "bloodjewel",
  "pearl", "corestone", "sard", "sphene", "jasper", "marble",
  "eostone", "maoral", "agate", "amber", "amethyst",
  "blazestar", "carbuncle", "chalcedony", "coral",
  "despanal", "diamond", "emerald", "feystonegarnet", "gem",
  "mica", "thanot", "glimaerstone", "heliodor", "hyacinth",
  "jacinth", "moonstone", "onyx", "quartz", "ruby",
  "sapphire", "spinel", "topaz", "tourmaline", "turquoise",
  "zircon", "peridot", "starstone", "dreamstone",
  "deathstone", "sunstone", "sandsilver", "bluerock",
  "diopside", "ivory", "jade", "bloodstone", "cordierite",
  "sardonyx", "opal", "stone", "lapis", "obsidian", "beryl",
  "mother-of-pearl", "azurite", "spherine", "wyrdshard",
  "riftstone", "aetherstone", "pyrite", "hematite",
  "saewehna", "wraithaline", "smoldereye", "mekret",
  "roestone", "auboraline", "wraithaline", "waterweb",
  "gypsum", "feldspar", "nephrite", "pumice", "rivertear",
  "tanzanite", "idocrase", "cinderstone", "sandruby",
  "bismuth", "fluorite", "chrysoprase", "prehnite",
  "heliotrope", "viridine", "crescent", "garnet", "shell";
$magics: "crystal", "statue", "filings", "triangle",
  "granules", "square", "cube", "sculpture", "figurine",
  "prism", "statuette", "orb", "statuette", "miniature",
  "wand", "scroll";

@import "reset";
@import "typography";
@import "layout";
@import "sessions";
@import "panels";
@import "compass";
@import "streams";
@import "hands";
@import "feed";
@import "hilite";
@import "cli";
@import "modals";
@import "util";
