/*! THEME: original */

@import "../vars";

:root {
  --main-bg-color: #1a1a1d;
  --text-color: #f1f1f1;
  --hilite-color: #a0a0a0;
  --link-color: #27a4fd;

  --info: #184f3f;

  --ok: #8dce73;
  --gentle-warn: #efca6a;
  --warn: #fb5d2d;
  --danger: #ff3b00;

  --icon-size: 1em;

  --column-width: 16em;

  --stream-height: 13em;
  --stream-channel-color: #91d686;
}
