/*! THEME: discstone */

@import "https://cloud.typography.com/610186/7850832/css/fonts.css";
@import "../vars";

$blue: #00b0f4;
$green: #1abb9c;
$purple: #a55dff;
$yellow: #ffcc4c;
$orange: #e77e22;
$red: #e84c3b;

:root {
  --main-bg-color: #1a1a1d;
  --text-color: #f1f1f1;
  --info: #202225;

  --ok: white;
  --gentle-warn: #{$yellow};
  --warn: #{$orange};
  --danger: #{$red};

  --icon-size: 1.4em;
  --border-width: 1px;
  --border-color: #2f2733;
  --base-font-size: 14px;
  --stream-font-size: 14px;

  --column-width: 20em;

  --stream-channel-color: white;

  --scrollbar-thumb-color: black;
}

// Global
body {
  background: var(--info, black);
  font-family: "Whitney SSm A", "Whitney SSm B", system-ui, sans-serif;
  font-weight: 400;
}

#main {
  background: #36393e;
}
#cli-wrapper,
#hands-wrapper {
  background: #40444a;
}
#hands-wrapper,
#streams-wrapper {
  border-bottom: 1px solid #2c2f33;
}

#feed-wrapper,
#streams-wrapper {
  position: relative;
  // under-shadow
  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(
      to bottom,
      rgba(black, 0.33),
      rgba(black, 0)
    );
    height: 1.5em;
  }
}

.stream {
  font-family: "Whitney SSm A", "Whitney SSm B", system-ui, sans-serif;
}
.command,
.remaining {
  font-family: "MonoLisa", system-ui, sans-serif;
}

.feed {
  padding: 2em;
}
.feed,
.feed > * {
  font-family: "MonoLisa", system-ui, sans-serif;
}
.feed > *,
.stream {
  max-width: 800px;
}
.feed * {
  line-height: 1.6 !important;
}
.streams {
  padding-left: 2em;
}

prompt {
  visibility: hidden !important;
  height: 0.5em;
}

#panels-left {
  background: #2e3136;
}

::-webkit-scrollbar {
  width: 16px;
}
::-webkit-scrollbar-thumb {
  background: #1f2225;
  border: 4px solid transparent;
  background-clip: content-box;
  border-radius: 10px;
}

.feed .roomName {
  background: #2e3136;
  color: $purple;
  padding: 0.5em;
  margin-top: 0.5em;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border: 1px solid #1f2225;
  border-bottom: 0;
}
.feed .roomDesc {
  background: #2e3136;
  padding: 0.5em;
  margin-bottom: 0.5em;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 1px solid #1f2225;
  border-top: 0;
}
.feed {
  prompt.sent {
    margin-left: -1em;
    opacity: 0.75;
  }
}

.label {
  text-transform: capitalize;
}

.panel {
  padding: 1px;
  > div {
    position: relative;
    background: rgba(black, 0.3);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    overflow: hidden;
    padding: 0.5em 1em 1em 1em;
  }
  > summary {
    font-size: 0.8em;
    text-transform: uppercase;
    text-align: left;
    position: relative;
    background: #191919;
    border-radius: 6px;
    position: relative;
    z-index: 1;
    padding: 0.8em 0.5em 0.7em 0.8em;
    margin: 0;
    color: #8e9297;
  }
  &[open] > summary {
    box-shadow: 0 1px 1px 0 #2e2626;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
}

@mixin title($title) {
  margin-top: 28px;
  &::before {
    content: $title;
    display: block;
    position: absolute;
    top: -10px;
    left: 0;
    font-size: 0.65em;
    text-transform: uppercase;
    opacity: 0.6;
  }
}

li#vitals-spirit,
li#vitals-health,
li#vitals-mana,
li#vitals-stamina {
  border: 0;
  position: relative;
  margin-bottom: 0;
}

#vitals-encumlevel {
  @include title("Encumbrance");
}
#vitals-mindState {
  @include title("Mind");
}
#vitals-pbarStance {
  @include title("Stance");
}

.hand::before {
  background: #72767d;
}

.spells {
  li {
    .value {
      display: grid;
      grid-template-columns: 1fr 45px;
      .spell {
        text-align: left;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
    &:hover {
      background: black;
    }
  }
  li.low {
    .spell {
      color: #ff6e6e;
    }
  }
}

.injury,
.scar {
  background: none;
  border: 0;
  border-bottom: 1px solid black;
  box-shadow: 0 1px 1px 0 #282323;
  border-radius: 0;
  padding-bottom: 0.5em;
}
.injury.severity-1,
.scar.severity-1 {
  color: #ff7c7c;
}
.injury.severity-2 {
  .injury-name::before {
    content: "🩸";
  }
}
.injury.severity-2,
.scar.severity-2 {
  color: #ff3333;
  font-weight: bold;
}
.injury.severity-3 {
  .injury-name::before {
    content: "🩸";
  }
}
.injury.severity-3,
.scar.severity-3 {
  color: #ff0000;
  text-shadow: 0 0 16px red;
}

#sessions ol li {
  overflow: visible;
  background: rgba(black, 0.5);
  &::before {
    background: white;
    box-shadow: none;
    border-radius: 8px;
    width: auto;
    height: 100%;
    right: 65px;
    left: auto;
    top: 0;
    margin: 0;
    display: none;
  }
  &.on::before {
    display: block;
  }
}

// Highlighting
[exist] {
  color: #a7a7a7;
}

@each $direction in $directions {
  a[exist][noun="#{$direction}"] {
    color: $blue;
  }
}
@each $box in $boxes {
  a[exist][noun="#{$box}"] {
    color: $green;
    font-weight: bold;
  }
}
$start: 0;
@each $gem in $gems {
  a[exist][noun="#{$gem}"] {
    color: adjust-hue($purple, $start);
  }
  $start: $start + 1;
}
@each $magic in $magics {
  a[exist][noun="#{$magic}"] {
    color: $purple;
  }
}

[exist][noun="spell"] {
  color: $purple;
}

[noun="scarab"]::before {
  content: "🐞";
}
[noun="shell"]::before {
  content: "🦪";
}
[noun="waraxe"]::before,
[noun="axe"]::before {
  content: "🪓";
}
[noun="dagger"]::before {
  content: "🗡";
}
[noun="shield"]::before {
  content: "🛡";
}
[noun="beer"]::before,
[noun="ale"]::before {
  content: "🍺";
}
[noun="diamond"]::before {
  content: "🔹";
}
[noun="bone"]::before {
  content: "🦴";
}
[noun="donut"]::before {
  content: "🍩";
}
