:root {
  --main-bg-color: #1a1a1d;
  --text-color: #f1f1f1;
  --info: #484848;
  --ok: #396820;
  --gentle-warn: rgb(122, 96, 28);
  --warn: #784225;
  --danger: #6f2232;
  --icon-size: 1em;
  --column-width: 16em;
  --stream-height: 13em;
  --stream-channel-color: #91d686;
}

#main {
  box-shadow: 0 35px 25px -8px black;
}

#sessions,
.panels {
  background: linear-gradient(
    261.75deg,
    #202224 35.86%,
    #3e3c42 77.44%
  );
}

#app.streams-on .streams {
  border: 0;
}

#streams-wrapper {
  z-index: 1;
  position: relative;
  box-shadow: 0 20px 20px black;
}

.stream-channel[data-stream-channel="[Dreavening]"] {
  color: #d64e4e;
}

.feed,
.streams {
  background: radial-gradient(
    60.67% 51% at 16.22% 84.45%,
    #2b2e3a 0%,
    #0a0606 100%
  );
}

.panels {
  border: 0;
}

#panels-left {
  border: 0;
}

.panel {
  font-family: "PTSerif", Serif;
  position: relative;
  padding: 1px;
  margin: 1em;
}
.panel::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  background: linear-gradient(135deg, #39abeb, #570275);
  border-radius: 8px;
}
.panel > div {
  position: relative;
  background: #191919;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
  padding: 0.6em;
}
.panel > summary {
  text-transform: capitalize;
  text-align: left;
  font-weight: bold;
  position: relative;
  font-size: 1.2em;
  background: #191919;
  border-radius: 6px;
  border-bottom: 1px solid black;
  box-shadow: 0 1px 1px 0 #282323;
  position: relative;
  z-index: 1;
}
.panel[open] > summary {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.panel-list li {
  padding: 0.2em;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.55);
}
.panel-list li:not(:last-child) {
  margin: 0 0 0.3em 0;
}
.panel-list .value span:nth-child(1) {
  white-space: nowrap;
  opacity: 0.9;
}
.panel-list .value span:nth-child(1)::first-letter {
  text-transform: capitalize;
}
.panel-list .value span:nth-child(2) {
  min-width: 4em;
  transform: scale(1.5);
  transform-origin: center left;
}
.panel-list .bar {
  border-radius: 4px;
}

#vitals-spirit .bar {
  background: linear-gradient(to bottom, #a990ef, #451bbc);
}

#vitals-health .bar {
  background: linear-gradient(to bottom, #91d686, #3a862d);
}

#vitals-mana .bar {
  background: linear-gradient(to bottom, #6cadd0, #245570);
}

#vitals-stamina .bar {
  background: linear-gradient(to bottom, #fbb17b, #c85806);
}

.spells li .value {
  display: grid;
  grid-template-columns: 1fr 40px;
}
.spells li .value .spell {
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.spells li.medium {
  background: linear-gradient(to bottom, #fbb17b, #c85806);
}
.spells li.low .spell {
  color: #ff6e6e;
}
.spells li.low .bar.low {
  display: none;
}

.bar.low,
.severity-3 {
  background: linear-gradient(to bottom, #dc0d0d, #3d0404);
}

.bar.medium,
.severity-2 {
  background: linear-gradient(to bottom, #de8e8e, #972c2c);
}

.bar.high,
.severity-1 {
  background: linear-gradient(to bottom, #846e6e, #282222);
}

#vitals-encumlevel {
  margin-top: 28px;
}
#vitals-encumlevel::before {
  content: "Encumbrance";
  display: block;
  position: absolute;
  top: -14px;
  left: 0;
  font-size: 0.65em;
  text-transform: uppercase;
  opacity: 0.6;
}
#vitals-encumlevel .bar[style="width: 0%;"] {
  background: linear-gradient(to bottom, #484848, black);
  width: 100% !important;
}

#vitals-mindState {
  margin-top: 28px;
}
#vitals-mindState::before {
  content: "Mind";
  display: block;
  position: absolute;
  top: -14px;
  left: 0;
  font-size: 0.65em;
  text-transform: uppercase;
  opacity: 0.6;
}

#vitals-nextLvlPB {
  margin-top: 28px;
}
#vitals-nextLvlPB::before {
  content: "Experience";
  display: block;
  position: absolute;
  top: -14px;
  left: 0;
  font-size: 0.65em;
  text-transform: uppercase;
  opacity: 0.6;
}

#vitals-stance {
  margin-top: 28px;
}
#vitals-stance::before {
  content: "Stance";
  display: block;
  position: absolute;
  top: -14px;
  left: 0;
  font-size: 0.65em;
  text-transform: uppercase;
  opacity: 0.6;
}

/*# sourceMappingURL=dark-king.css.map */
