@import "../vars";

$blue: #6cadd0;
$green: #91d686;
$purple: #a990ef;
$orange: #fbb17b;
$red: #d64e4e;

:root {
  --main-bg-color: #1a1a1d;
  --text-color: #f1f1f1;

  --info: #484848;

  --ok: #396820;
  --gentle-warn: rgb(122, 96, 28);
  --warn: #784225;
  --danger: #6f2232;

  --icon-size: 1.4em;

  --column-width: minmax(16em, 0.33fr);

  --stream-height: 13em;
  --stream-channel-color: #91d686;
}

body {
  font-family: "DutchMediaeval";
}

#main {
  box-shadow: 0 35px 25px -8px black;
}

#sessions,
.panels,
#hands-wrapper,
#cli-wrapper {
  background: linear-gradient(
    261.75deg,
    #202224 35.86%,
    #3e3c42 77.44%
  );
}
#hands {
  font-family: "DutchMediaeval";
  border: 0;
}
.hand#left::before {
  transform: rotate(22deg) scaleX(-1);
}
.hand#right::before {
  transform: rotate(-22deg);
  order: 2;
  margin-right: 0;
  margin-left: 1em;
}

.session-name {
  font-family: "DutchMediaevalBook-Bold";
}

#app.streams-on .streams {
  border: 0;
}
#streams-wrapper {
  z-index: 1;
  position: relative;
  box-shadow: 0 20px 20px black;
}
.stream {
  font-size: 0.85em;
}
.stream-channel[data-stream-channel="[Dreavening]"] {
  color: $red;
}
.stream-channel[data-stream-channel="[help]"] {
  color: $blue;
}
.stream-channel[data-stream-channel="[PrivateTo]"],
.stream-channel[data-stream-channel="[Private]"] {
  background: #f30000;
  color: white;
}
.stream-channel.death {
  color: #f30000;
}

.feed,
.streams {
  background: radial-gradient(
    60.67% 51% at 16.22% 84.45%,
    #2b2e3a 0%,
    #0a0606 100%
  );
}

.panels {
  border: 0;
}
#panels-left {
  border: 0;
}
.panel {
  position: relative;
  padding: 1px;
  margin: 1em;
  &::before {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    background: linear-gradient(135deg, #39abeb, #570275);
    border-radius: 8px;
  }
  > div {
    position: relative;
    background: #191919;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    overflow: hidden;
    padding: 0.6em;
  }
  > summary {
    text-transform: capitalize;
    text-align: left;
    font-weight: bold;
    position: relative;
    font-size: 1.2em;
    background: #191919;
    border-radius: 6px;
    border-bottom: 1px solid black;
    box-shadow: 0 1px 1px 0 #282323;
    position: relative;
    z-index: 1;
    padding: 0.8em 0.5em 0.7em 0.8em;
    margin: 0;
  }
  &[open] > summary {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
}

.panel-list {
  li {
    padding: 0.4em 0.4em 0.2em 0.2em;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(black, 0.55);
    border: 1px solid #2e2b33;
    background: linear-gradient(#25222d, #444);
    &:not(:last-child) {
      margin: 0 0 0.3em 0;
    }
  }
  .value span:nth-child(1) {
    font-family: "DutchMediaevalBook-Bold";
    white-space: nowrap;
    opacity: 0.9;
    &::first-letter {
      text-transform: capitalize;
    }
  }
  .value span:nth-child(2) {
    font-family: "DutchMediaevalBook-Bold";
  }
  .bar {
    border-radius: 4px;
  }
}

@mixin barBG($color) {
  background: linear-gradient(
    to bottom,
    $color,
    darken($color, 33%)
  );
}

@mixin panelRow($color) {
  .bar {
    @include barBG($color);
  }
  .value span:nth-child(1) {
    color: $color;
  }
}

@mixin title($title) {
  margin-top: 28px;
  &::before {
    content: $title;
    display: block;
    position: absolute;
    top: -14px;
    left: 0;
    font-size: 0.65em;
    text-transform: uppercase;
    opacity: 0.6;
  }
}

details#vitals {
  > div {
    padding-top: 0;
  }
}

.vitals {
  > li#vitals-spirit,
  > li#vitals-health,
  > li#vitals-mana,
  > li#vitals-stamina {
    background: none;
    border: 0;
    border-bottom: 1px solid black;
    box-shadow: 0 1px 1px 0 #282323;
    position: relative;
    padding-left: 90px;
    padding-top: 20px;
    .value {
      position: static;
      display: block;
      text-align: left;
      margin: -15px 0 0 -85px;
      span:nth-child(1) {
        position: absolute;
        top: 5px;
        left: 5px;
      }
      span:nth-child(2) {
        min-width: 0;
        font-size: 1.3em;
      }
      span:nth-child(3) {
        font-size: 1.3em;
        opacity: 0.5;
        &::before {
          content: "/";
          margin: 0 0.1em;
        }
      }
    }
    .bar {
      position: relative;
      height: 17px;
    }
  }
}

#vitals-spirit {
  @include panelRow($purple);
}
#vitals-health {
  @include panelRow($green);
}
#vitals-mana {
  @include panelRow($blue);
}
#vitals-stamina {
  @include panelRow($orange);
}

#vitals-encumlevel {
  @include title("Encumbrance");
  .bar[style="width: 0%;"] {
    @include barBG(#484848);
    width: 100% !important;
  }
}
#vitals-mindState {
  @include title("Mind");
}
#vitals-nextLvlPB {
  @include title("Experience");
}
#vitals-stance {
  @include title("Stance");
}

.spells {
  li {
    .value {
      display: grid;
      grid-template-columns: 1fr 45px;
      .spell {
        text-align: left;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
  li.low {
    .spell {
      color: #ff6e6e;
    }
    .bar.low {
      display: none;
    }
  }
}

.bar.low {
  @include barBG(#dc0d0d);
}
.bar.medium {
  @include barBG(#de8e8e);
}
.bar.high {
  @include barBG(#846e6e);
}

.injury.injury {
  background: none;
  border: 0;
  border-bottom: 1px solid black;
  box-shadow: 0 1px 1px 0 #282323;
  border-radius: 0;
  padding-bottom: 0.5em;
}
.injury.severity-1 {
  color: #ff7c7c;
}
.injury.severity-2 {
  color: #ff3333;
  font-weight: bold;
  .value::before {
    content: "🩸";
  }
}
.injury.severity-3 {
  color: #ff0000;
  text-shadow: 0 0 16px red;
  font-weight: bold;
  .value::before {
    content: "🩸";
  }
}

// Highlighting
.exist {
  color: #a7a7a7;
}
.monster {
  color: $orange;
}
.b {
  // e.g. enhanced stat
}

@each $direction in $directions {
  a.exist[data-noun="#{$direction}"] {
    color: $blue;
  }
}
@each $box in $boxes {
  a.exist[data-noun="#{$box}"] {
    color: $green;
    font-weight: bold;
  }
}
@each $gem in $gems {
  a.exist[data-noun="#{$gem}"] {
    color: $blue;
  }
}
@each $magic in $magics {
  a.exist[data-noun="#{$magic}"] {
    color: $purple;
  }
}

[data-noun="scarab"]::before {
  content: "🐞";
}
[data-noun="shell"]::before {
  content: "🦪";
}
[data-noun="waraxe"]::before,
[data-noun="axe"]::before {
  content: "🪓";
}
[data-noun="dagger"]::before {
  content: "🗡";
}
[data-noun="shield"]::before {
  content: "🛡";
}
[data-noun="beer"]::before,
[data-noun="ale"]::before {
  content: "🍺";
}
[data-noun="diamond"]::before {
  content: "🔹";
}
[data-noun="bone"]::before {
  content: "🦴";
}
[data-noun="donut"]::before {
  content: "🍩";
}

.feed .roomName {
  margin: 10px 0 0 0;
  background: linear-gradient(
    to right,
    rgba($purple, 0.35),
    transparent
  );
  color: white;
  padding: 2px;
}
.feed .roomDesc {
  margin: 0 0 10px 0;
  padding: 6px;
  opacity: 0.75;
  background: linear-gradient(
    to right,
    rgba($purple, 0.2),
    transparent
  );
}
