@import "../vars";

:root {
  --main-bg-color: #1a1a1d;
  --text-color: #f1f1f1;

  --ok: #396820;
  --info: #184f3f;
  --gentle-warn: rgb(122, 96, 28);
  --warn: #784225;
  --danger: #6f2232;

  --icon-size: 1em;

  --column-width: 16em;

  --stream-height: 13em;
  --stream-channel-color: #91d686;
}
