@import "../vars";

$yellow: #ffd60a; // hsl(50, 100%, 52%)

:root {
  --main-bg-color: #1a1a1d;
  --text-color: #f1f1f1;

  --info: #484848;

  --ok: linear-gradient(
    to bottom,
    rgba(87, 132, 0, 0.2),
    rgba(0, 64, 0, 0.5)
  );
  --gentle-warn: linear-gradient(
    to bottom,
    hsla(50, 100%, 52%, 0.2),
    hsla(50, 100%, 52%, 0.5)
  );
  --warn: linear-gradient(
    to bottom,
    rgba(255, 42, 42, 0.4),
    rgba(216, 6, 6, 0.7)
  );
  --danger: linear-gradient(
    to bottom,
    rgba(255, 42, 42, 0.6),
    rgba(216, 6, 6, 0.9)
  );

  --icon-size: 1em;

  --column-width: minmax(16em, 0.33fr);

  --stream-channel-color: #91d686;
}

body {
  background-image: url(../../app/img/city.jpg);
  background-size: cover;
  font-family: "DutchMediaeval";
}

#main {
  grid-auto-rows: 0 1fr 2em 4em;
}
#app.streams-on #main {
  grid-auto-rows: var(--stream-height, 13em) 1fr 2em 4em;
}

#sessions,
.panels {
  background: rgba(black, 0.5);
}
.panels {
  padding: 1em;
}

#hands-wrapper {
  background: rgba(black, 0.8);
  grid-row: 3;
}
#streams-wrapper,
#feed-wrapper {
  background: rgba(black, 0.5);
  padding: 1em 1em 1em 0;
}
#streams-wrapper {
  border: 0;
  padding-bottom: 0;
}
.streams,
.feed {
  border: 3px solid black;
  border-image: url(../../app/img/wooden-border.png) 25 /
    20px round;
  background: rgba(black, 0.9);
}
#cli-wrapper {
  background: rgba(black, 0.7);
}

#panels-left {
  border-right: 0;
}

.panel {
  background: rgba(black, 0.5);
  border: 5px solid transparent;
  padding: 0.75em;
  margin: 0 0 20px 0;
  border-image: url(../../app/img/wooden-border.png) 25 /
    20px round;
  > summary {
    background: none;
    font-family: "DutchMediaevalBook-Bold";
    font-weight: bold;
    padding: 1em;
    font-size: 1.1em;
    letter-spacing: 0.04em;
    margin: 0 0 0.45em 0;
    border-radius: 3px;
    background: linear-gradient(
      to bottom,
      rgba(212, 156, 0, 0.5),
      rgba(64, 44, 0, 0.6)
    );
    box-shadow: inset 0px -4px 6px 0px rgba(black, 0.5);
  }
}

.panel-list {
  > li {
    margin: 0 0 1px 0;
    border-radius: 3px;
    overflow: hidden;
    .value {
      font-family: "DutchMediaevalBook-Bold";
    }
  }
}

.injury.severity-2 {
  color: #ff3333;
  font-weight: bold;
}
.injury.severity-3 {
  color: #ff0000;
  text-shadow: 0 0 16px red;
  font-weight: bold;
}

a.monster {
  color: $yellow;
}

.feed .roomName {
  margin: 10px 0 0 0;
  background: linear-gradient(
    to right,
    rgba($yellow, 0.35),
    transparent
  );
  color: white;
  padding: 2px;
}
.feed .roomDesc {
  margin: 0 0 10px 0;
  padding: 6px;
  opacity: 0.75;
  background: linear-gradient(
    to right,
    rgba($yellow, 0.1),
    transparent
  );
}
