@import "../vars";

$yellow: #ffd60a; // hsl(50, 100%, 52%)

:root {
  --main-bg-color: #1a1a1d;
  --text-color: #f1f1f1;

  --info: #484848;

  --ok: linear-gradient(
    to bottom,
    rgba(87, 132, 0, 0.2),
    rgba(0, 64, 0, 0.5)
  );
  --gentle-warn: linear-gradient(
    to bottom,
    hsla(50, 100%, 52%, 0.2),
    hsla(50, 100%, 52%, 0.5)
  );
  --warn: linear-gradient(
    to bottom,
    rgba(255, 42, 42, 0.4),
    rgba(216, 6, 6, 0.7)
  );
  --danger: linear-gradient(
    to bottom,
    rgba(255, 42, 42, 0.6),
    rgba(216, 6, 6, 0.9)
  );

  --icon-size: 1.4em;

  --column-width: minmax(16em, 0.33fr);

  --stream-height: 13em;
  --stream-channel-color: #91d686;
}

body {
  background-image: url(../../app/img/city.jpg);
  background-size: cover;
  font-family: "DutchMediaeval";
}

#sessions {
  background: rgba(black, 0.5);
}
.panels {
  background: rgba(black, 0.7);
}
#hands-wrapper {
  background: rgba(black, 0.6);
}
#streams-wrapper,
#feed-wrapper {
  background: rgba(black, 0.9);
}
#cli-wrapper {
  background: rgba(black, 0.8);
}

#panels-left {
  border-right-color: rgba(black, 0.5);
}

.panels {
  padding: 20px;
}

.panel {
  border: 5px solid transparent;
  padding: 5px;
  margin: 0 0 20px 0;
  // background: rgba(black, 0.85);
  // background-clip: content-box;
  border-image: url(../../app/img/wooden-border.png) 25 /
    20px round;
  // border-image-width: 100;
  // border-image-slice: 100;
  // border-image-repeat: repeat;
  > summary {
    background: none;
    font-family: "DutchMediaevalBook-Bold";
    font-weight: bold;
    padding: 1em 1em 0.7em;
    font-size: 1.1em;
    letter-spacing: 0.04em;
    margin: 0 0 0.45em 0;
    border-radius: 3px;
    background: linear-gradient(
      to bottom,
      rgba(255, 0, 16, 0.6),
      rgba(103, 10, 0, 0.7)
    );
    box-shadow: inset 0 2px 4px rgba(black, 0.5);
  }
}

.panel-list {
  > li {
    margin: 0 0 1px 0;
    border-radius: 3px;
    overflow: hidden;
    .value span:nth-child(2) {
      font-family: "DutchMediaevalBook-Bold";
    }
  }
}

// .injury.injury {
//   background: none;
//   border: 0;
//   border-bottom: 1px solid black;
//   box-shadow: 0 1px 1px 0 #282323;
//   border-radius: 0;
//   padding-bottom: 0.5em;
// }
// .injury.severity-1 {
//   color: #ff7c7c;
// }
.injury.severity-2 {
  color: #ff3333;
  font-weight: bold;
  .value::before {
    content: "🩸";
  }
}
.injury.severity-3 {
  color: #ff0000;
  text-shadow: 0 0 16px red;
  font-weight: bold;
  .value::before {
    content: "🩸";
  }
}

a.monster {
  color: $yellow;
}

.feed .roomName {
  margin: 10px 0 0 0;
  background: linear-gradient(
    to right,
    rgba($yellow, 0.35),
    transparent
  );
  color: white;
  padding: 2px;
}
.feed .roomDesc {
  margin: 0 0 10px 0;
  padding: 6px;
  opacity: 0.75;
  background: linear-gradient(
    to right,
    rgba($yellow, 0.1),
    transparent
  );
}
