.streams-on illthorn-streams {
  border-bottom: var(--border-width, 3px) solid
    var(--border-color, var(--info));
}

illthorn-streams {
  font-size: var(
    --stream-font-size,
    var(--base-font-size, 15px)
  );
  height: 100%;
  padding: 0 1em;
  overflow-y: scroll;
}

illthorn-streams mark {
  background: transparent;
}

illthorn-streams pre {
  margin: 0.2em 0;
  white-space: pre-wrap;
}
.stream-channel {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--stream-channel-color, #91d686);
  &.death {
    color: var(--danger, #ff3b00);
  }
}

.stream-channel[data-stream-channel="[PrivateTo]"],
.stream-channel[data-stream-channel="[Private]"] {
  background: var(--danger, #ff3b00);
  color: white;
}

pre.loaded-from-storage-message {
  opacity: 0.5;
  margin: 1.5em 0;
  text-align: center;
}
