$boxes: "box", "chest", "coffer", "strongbox", "trunk";

$directions: "north", "south", "east", "west", "northwest",
  "northeast", "southwest", "southeast", "up", "down", "out";

$gems: "mithril-bloom", "faenor-bloom", "rhimar-bloom",
  "ora-bloom", "vultite-bloom", "thunderstone", "doomstone",
  "riftshard", "geode", "rosepar", "firestone", "bloodjewel",
  "pearl", "corestone", "sard", "sphene", "jasper", "marble",
  "eostone", "maoral", "agate", "amber", "amethyst",
  "blazestar", "carbuncle", "chalcedony", "coral",
  "despanal", "diamond", "emerald", "feystonegarnet", "gem",
  "mica", "thanot", "glimaerstone", "heliodor", "hyacinth",
  "jacinth", "moonstone", "onyx", "quartz", "ruby",
  "sapphire", "spinel", "topaz", "tourmaline", "turquoise",
  "zircon", "peridot", "starstone", "dreamstone",
  "deathstone", "sunstone", "sandsilver", "bluerock",
  "diopside", "ivory", "jade", "bloodstone", "cordierite",
  "sardonyx", "opal", "stone", "lapis", "obsidian", "beryl",
  "mother-of-pearl", "azurite", "spherine", "wyrdshard",
  "riftstone", "aetherstone", "pyrite", "hematite",
  "saewehna", "wraithaline", "smoldereye", "mekret",
  "roestone", "auboraline", "wraithaline", "waterweb",
  "gypsum", "feldspar", "nephrite", "pumice", "rivertear",
  "tanzanite", "idocrase", "cinderstone", "sandruby",
  "bismuth", "fluorite", "chrysoprase", "prehnite",
  "heliotrope", "viridine", "crescent", "garnet", "shell",
  "scarab";

$magics: "crystal", "statue", "filings", "triangle",
  "granules", "square", "cube", "sculpture", "figurine",
  "prism", "statuette", "orb", "statuette", "miniature",
  "wand", "scroll";

$weapons: "adze", "awl-pike", "axe", "kris", "limb-cleaver",
  "field-axe", "half-moon", "poignard", "shamshir",
  "pole-axe", "sabre", "wakizashi", "machete", "bardiche",
  "glaive", "scythe", "backsword", "battlesword",
  "blackjack", "bludgeon", "bola", "broadsword", "cestus",
  "claidhmore", "club", "crook", "crossbow", "crowbill",
  "cudgel", "dagger", "dart", "discus", "epee", "espadon",
  "estoc", "falchion", "fist-scythe", "flail", "flamberge",
  "gauche", "greataxe", "greatsword", "halberd", "hammer",
  "hammer-of-Kai", "handaxe", "harpoon", "hatchet",
  "hook-knife", "jackblade", "javelin", "jeddart-axe",
  "kaskara", "katana", "katar", "khopesh", "knife",
  "knuckle-blade", "knuckle-duster", "kris", "lance",
  "langsax", "longsword", "mace", "machete", "mattock",
  "maul", "naginata", "net", "paingrip", "pilum",
  "pitchfork", "quarterstaff", "short-staff", "quoit",
  "rapier", "razorpaw", "runestaff", "sabre", "sai",
  "scimitar", "sledgehammer", "spear", "spikestar", "staff",
  "sword", "tiger-claw", "trident", "troll-claw", "voulge",
  "wakizashi", "waraxe", "warblade", "whip", "whip-blade",
  "yierka-spur", "yumi", "foil", "bulawa", "cleaver",
  "yataghan", "sapara", "scramasax", "warlance", "cutlass",
  "fauchard", "pike", "shillelagh", "short-sword", "tetsubo",
  "bow", "seax", "hammer of Kai";

$foods: "doughnut", "tart", "cupcake", "cookie", "muffin",
  "apple";

$forageables: "aster", "bark", "begonia", "berry", "blossom",
  "flower", "grass", "heliconia", "hydrangea", "iceblossom",
  "leaf", "lichen", "lily", "moss", "mushroom", "nut",
  "passionflower", "peony", "petunia", "poppy", "primrose",
  "root", "rose", "stalk", "tomato", "twig", "violet",
  "leaves", "anemone", "apple", "banana", "branch",
  "carnation", "daisy", "dandelion", "olive", "loganberry",
  "peapod", "primrose", "pumpkin", "turnip", "violet",
  "wild-rose", "acorn", "cranberry", "teaberry", "grapes",
  "dragonstalk", "corn", "bulb", "fern", "fig", "toadstool",
  "buttercup", "berries", "nuts", "vine", "plum", "gardenia",
  "onion-skin", "cactus-bloom", "cactus-blossom",
  "mountain-dryan", "murdroot", "daffodil", "pine-cone",
  "crocus", "eggplant", "weed", "pansy", "brambles",
  "lettuce", "motherwort", "needles", "reeds", "thyme",
  "wild sage", "wiregrass", "alyssum", "amaranth",
  "bleeding-heart", "boxwood", "clematis", "columbine",
  "edelweiss", "foxglove", "heliotrope", "hellebore",
  "holly", "sprig", "Imaera's-Lace", "ivy", "jasmine",
  "larkspur", "lavender", "mistletoe", "mournbloom",
  "rosemary", "delphinuris", "sneezeweed", "thanot",
  "wild lilac", "wild phlox", "bluebells", "burdock",
  "cattail", "chicory", "drakefern", "goldenrod",
  "monkeyflower", "tuberose", "wormwood", "stem", "verbena",
  "flowers", "stick", "seaweed", "plant", "tendril-of-vinca",
  "tendril", "water-chestnut", "beechnut", "carrot",
  "chokecherry", "gooseberry", "orchid", "geranium",
  "strawberry", "tulip", "bud", "slime", "fleshbulb",
  "mawflower", "deathblossom", "toadstool", "fungus", "mold",
  "flameleaf";

$herbals: "potion", "fruit", "ephlox", "tkaro", "bur-clover",
  "woth", "sovyn", "clove", "ambrominas", "wolifrew",
  "acantha", "yabathilim", "aloeas", "brostheras", "haphip",
  "pothinir", "basal", "wingstem", "talneo", "calamia",
  "cactacae", "bolmara", "torban";
